{% extends "base.html" %}

{% block title %}Order Tracking{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4" style="font-weight: bold; color: #212529;">Order Tracking System</h1>
    <p style="font-size: 1.1rem; line-height: 1.6; color: #495057;">
        Welcome to the Order Tracking System! This project, developed during a summer training program, addresses inefficiencies in the order flow within the company by providing a streamlined solution for order management.
    </p>
    <p style="font-size: 1.1rem; line-height: 1.6; color: #495057;">
        The system empowers users to seamlessly add and track orders, providing real-time updates on their status. Departments can easily manage order states, significantly enhancing overall operational efficiency.
    </p>
    <p style="font-size: 1.1rem; line-height: 1.6; color: #495057;">
        Our integrated API allows users to check order statuses instantly without waiting for replies, ensuring a transparent and user-friendly experience. This is just the first feature, with many more enhancements planned for the future to make our system even more robust and efficient.
    </p>
    <p style="font-size: 1.1rem; line-height: 1.6; color: #495057; font-weight: bold;">
        Click the navbar to start using the system!
    </p>
    <p>
        <a href="https://github.com/SalmanSaleh1/Order-Tracking" target="_blank" class="btn btn-secondary">View on GitHub</a>
    </p>
</div>
{% endblock %}