{% extends "base.html" %}

{% block title %}Order Tracking{% endblock %}

{% block body %}
<div class="container">
    <h1>Order Tracking System</h1>
    <p>
        This project is for the summer training of college. It addresses the problems observed in the order flow within the company and suggests a solution to improve the process.
    </p>
    <p>
        The system allows for the addition, tracking, and management of orders. Users can view the status of their orders, and departments can update the order states as they progress. This solution aims to streamline the order management process and enhance overall efficiency.
    </p>
    <p>
        The system includes an API that allows users to check the status of their orders without needing to send messages or wait for a reply. This feature provides real-time updates on order states, making the process more transparent and user-friendly. This is the first feature, and there may be future ideas added to further enhance the system.
    </p>
</div>
{% endblock %}
