{% extends "base.html" %}

{% block title %}View Order{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-4">Order #{{ order.order_id }}</h1>
    <div class="card mb-4">
        <div class="card-body">
            <p><strong>Name:</strong> <span class="text-muted">{{ order.order_name }}</span></p>
            <p><strong>Description:</strong> <span class="text-muted">{{ order.order_description }}</span></p>
            <p><strong>Department:</strong> <span class="text-muted">{{ order.department_name }}</span></p>
            <p><strong>State:</strong> <span class="text-muted">{{ order.order_state }}</span></p>
            <p><strong>Date:</strong> <span class="text-muted">{{ order.order_date }}</span></p>
        </div>
    </div>
    <a href="{{ url_for('order_history') }}" class="btn btn-primary">Back to History</a>
</div>

{% endblock %}
